<!DOCTYPE html>
<html lang="en">
<head>
    <title>KFamily</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/stylesheets/home.css" />
    <script type="text/javascript" src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/template.js"></script>
    <script type="text/javascript" src="/javascripts/common_js.js"></script>
</head>
<body>
<div class="float_nav">
    <ul class="tag-ul">
        <li><a href="/home">首页</a></li>
        <li><a href="/article">文章</a></li>
        <li><a href="/photo">图片</a></li>
    </ul>
</div>
<header>
    <div class="top">
        <h1>
            <a class="top_logo" href="/home">
                KFamily
                <i>
                    <small>简约生活</small>
                </i>
            </a>
            <a class="back" href="/login">登录</a>
        </h1>
    </div>
    <div class="banner" style="position: relative; color: rgb(255, 255, 255); text-align: center; ">
        <iframe class="baniframe" sandbox="allow-scripts allow-same-origin" id="mh" style="width: 100%; height: 100%; left: 0px; top: 0px;" src=""></iframe>
    </div>
</header>