<%include ../layout/header.html%>
<div class="content">
    <div class="left">
        <section>
            <div class="category">相册</div>
            <div class="photo">
                <div class="photo-item">
                    <a href="javascript:void(0);">
                        <img src="/photo/aaa.png">
                        <figcaption>美女</figcaption>
                    </a>
                </div>
                <div class="photo-item">
                    <a href="javascript:void(0);">
                        <img src="/photo/aaa.png">
                        <figcaption>美女</figcaption>
                    </a>
                </div>
                <div class="photo-item">
                    <a href="javascript:void(0);">
                        <img src="/photo/aaa.png">
                        <figcaption>美女</figcaption>
                    </a>
                </div>
                <div class="photo-item">
                    <a href="javascript:void(0);">
                        <img src="/photo/aaa.png">
                        <figcaption>美女</figcaption>
                    </a>
                </div>
                <div style="clear:both;">
            </div>
        </section>
    </div>
    <div class="right">
        <section>
            <div class="category">关于我</div>
            <div class="me">
                <p>爱我所爱</p>
                <a href="javascript:void(0);">查看更多 →</a>
            </div>
        </section>
        <section>
            <div class="category">标签</div>
            <ul class="tag-ul">
                <li><a>人物</a></li>
                <li><a>风景</a></li>
                <li><a>动物</a></li>
            </ul>
        </section>
    </div>
    <div style="clear:both;">
    </div>
</div>
<%include ../layout/footer.html%>